<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="board/layout/basic">
<th:block layout:fragment="title">
    <title>댓글 리스트</title>
</th:block>

<th:block layout:fragment="content">
    <div class="table-responsive clearfix">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>작성자</th>
                <th>내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${not #lists.isEmpty( commentList )}" th:each="row : ${commentList}">
                <td th:text="${row.getId()}"></td>
                <td class="text-left">
                    <a th:href="@{/v1/posts(postId=${row.getId()})}" th:text="${row.getUserName()}"></a>
                </td>
                <td th:text="${row.getText()}"></td>
            </tr>

            </tbody>
        </table>

        <div class="btn_wrap text-right">
            <a th:href="@{/v1/posts/write}" class="btn btn-primary waves-effect waves-light">Write</a>
        </div>

    </div>
</th:block>
</html>