{{>layout/header}}

    <h1>스타일 리뷰 웹 사이트</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/post/save" role="button" class="btn btn-primary">스타일 사진 등록</a>
            </div>
        </div>
    </div>
{{>layout/footer}}